<!doctype html>
<title>Welcome Screen</title>
<h1>Welcome to the Pixel Sorter Color Database</h1>
<body>
<p>This site is to be used alongside the Pixel Sorter Java application for off-site storage of its 
KMeans Color XML files.
</p>

<p>The information stored in the XML files is to be used to generate an all-around color histogram based 
on a massive collection of photos in an effort to study how our world looks through the lenses of our cameras.
</p>
</body>

<form action="" method=post >
	<p><input type=submit value=Continue></p>
</form>
